djangorestframework
django-rest-swagger
djangorestframework-jwt
django-filter
django-url-filter
django-cors-headers
graphene-django
gunicorn
whitenoise==4.0
dj-database-url
psycopg2-binary
requests
faker
django-debug-toolbar
django==2.2.6

# httpie 
