django
djangorestframework
django-rest-swagger
djangorestframework-jwt
django-filter
django-url-filter
django-cors-headers
graphene-django
gunicorn
whitenoise
dj-database-url
psycopg2-binary
requests
faker

# httpie 
